.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.menu {
    font-family: var(--font-allerta);
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
}

.menu span {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.menu span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(360deg, #000 3%, rgba(0, 0, 0, 0.12) 100%); 
    bottom: -10px;
    left: 0;
    transform: scale(0);
    transition: .2s all ease-out;

}

.menu span:hover::after {
    transform: scale(1);
}