.services {
    background: linear-gradient(180deg, #000 0%, #808080 99.99%);
    height: 100vh;
    color: white;
    padding: 100px 0px 100px 0px;
}

.title {
    color: #898989;
    font-weight: bold;
    padding-bottom: 100px;
    text-align: end;
    font-family: var(--font-allerta);
    text-transform: uppercase;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.accordeonItem {
    padding: 20px 10px;
    border-bottom: 2px solid #3D3D3D;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: var(--font-allerta);
}

.name {
    color: #A8A8A8;
    text-transform: uppercase;
    font-size: 22px;
    width: 90%;
}

.description {
    font-size: 16px;
    border-left: 2px solid #A8A8A8;
    /* padding: 0px 0px 5px 10px; */
    /* margin-top: 10px; */

    /* padding-left: 10px;
    padding-top: 10px; */
    
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease; /* Smooth height transition */
    width: 100%;
    max-width: 1000px;
    font-family: var(--font-roboto);
}

.text {
    padding-left: 10px;
    padding-top: 10px;
}

.description.show {
    height: 55px; /* Arbitrarily large value to ensure it fits content */
  }

.rotate {
    transition: transform 0.2s ease-in-out;
    transform: rotate(90deg);
  }