.main {
    height: calc(100vh - 159px);
    /* height: 100vh; */
    background: linear-gradient(360deg, #000 3%, rgba(0, 0, 0, 0.12) 100%); 
    position: relative;
    overflow: hidden;
}
/* 
.background {
    background: linear-gradient(360deg, #000 3%, rgba(0, 0, 0, 0.12) 100%);
    z-index: 90;
    position: relative;
    height: calc(100vh - 159px);


} */

.title{
    /* background-color: #000; */
    position: relative;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%)
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(360deg, #000 3%, rgba(0, 0, 0, 0.12) 100%);  */
}

/* MainSection.module.css */


  .bin {
    font-size:1.25em;
    /* width: 800px;
      height: 500px;
      border-radius: 10px;
      background: rgb(74,106,138); */

      color: rgba(255,255,255,0.2);
      margin: 0 auto;
      font-family: monospace;
      word-wrap: break-word;
      line-height: 0.8em;
      letter-spacing: 5px;
      overflow: hidden;
  }

