.main {
    height: calc(100vh - 159px);
    background: linear-gradient(360deg, #000 3%, rgba(0, 0, 0, 0.12) 100%); 
    position: relative;
    overflow: hidden;
}

.title{
    position: relative;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%)
}

.binaryBackground {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    overflow: hidden;
    width: 100%;
    position: absolute;
    color: black;
}

.binaryRow {
    display: flex;
    justify-content: center;
}

.binaryNum {
    margin: 0 5px;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.highlighted {
    color: white;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    /* text-shadow: 2px 2px 4px #000000; */
}
