.points {
    background-color: #808080;
    color: white;
    height: 100vh;
    /* padding: 50px 0px 50px 0px; */
    font-family: var(--font-roboto);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    color: white;
    font-weight: bold;
    padding-bottom: 100px;
    text-align: end;
    font-family: var(--font-allerta);
    text-transform: uppercase;
}

.cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 50px;
    align-items: center;
    padding: 0px 100px;
}

.card {
    max-width: 300px;
    text-align: center;
    background: white;
    color: black;
    padding: 40px 10px;
    border-radius: 50px;
    /* box-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; */
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.img {
    margin-bottom: 20px;
}

.cardTitle {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: var(--font-allerta);
    font-weight: bold;
}

.svg {
    width: 100px;
    height: 110px;
    margin: 0 auto;
}

.puzzle {
    transition: all 0.3s ease-in-out;
}

.team {
    transition: all 0.3s ease-in-out;
}

.card:hover .puzzle {
    transform: translate(-1423px, 525px) rotate(-14deg);
}

.card:hover .team {
    fill: orange;
}

.tech {
    transition: all 0.3s linear;
}

.card:hover .tech {
    fill: blue;
    /* transform: rotate(360deg); */
}

.service {
    transition: fill 0.3s linear;
}

.card:hover .service {
   transform-origin: center 30%; 
}

.card:hover .service {
    animation-duration: 0.5s;
    animation-delay: -0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-name: ring;
    fill: orange;

  }

@keyframes ring {
    from {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(2deg);
    }
  }

 .approach {
    transition: all 1s ease-in-out;
}

.card:hover .approach {
 transform: translate(-450px, -450px) scale(1.2);
}
  
/* .cards:hover .card {
    filter: blur(5px);
} */

.card:hover  {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.9);
  }


